.footer{
    margin-top: 20px;
}
.footer__background{
    background-color: #000000e9;
    width: 100% !important;
   
}
.footer__image{
    text-align: center;
    display: flex;
    justify-content: center;
   padding-top: 15px;
}
.footer__image img{
    width: 120px;
    height: 55px;
    object-fit: cover;
}
.footer__background h4{
    padding-top: 20px;
    text-align: center;
    color: white;
}